<a href="https://colab.research.google.com/github/afroman32/Unit-2-Build/blob/master/Unit_2_Build.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
movie_data = pd.read_csv('https://raw.githubusercontent.com/afroman32/Unit-2-Build/master/Data%20Files/movies.csv?token=ABWQHAIK362APCRLS2GLEZC6HI2S2',
                         encoding = "ISO-8859-1")

In [27]:
print(movie_data.shape)
movie_data.head()

(6820, 15)

       budget                                 company  ...         writer  year
0   8000000.0           Columbia Pictures Corporation  ...   Stephen King  1986
1   6000000.0                      Paramount Pictures  ...    John Hughes  1986
2  15000000.0                      Paramount Pictures  ...       Jim Cash  1986
3  18500000.0  Twentieth Century Fox Film Corporation  ...  James Cameron  1986
4   9000000.0                    Walt Disney Pictures  ...  Mark H. Baker  1986

[5 rows x 15 columns]